.homepage section[role=main] {
    padding: 20px 20px 0;
    overflow:auto;
    background-color:white;
    -ms-user-select: text;
    -ms-content-zooming:zoom;
    -ms-content-zoom-limit: 20% 1000%;
}
