#banner {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding: 10px;
    color: white;
    display: -ms-grid;
    -ms-grid-columns: 1fr auto;
    opacity:0.94;
}

#banner button {
    -ms-grid-column:2;
    margin-right: 16px; /* padding of parent is 10px, */
}

#banner[type=null],
#banner[type=undefined],
#banner[type=''] {
    display:none;
}

#banner[type=error] {
    background-color: darkred;
}
#banner[type=paste] {
    background-color:darkgreen;
}

.navigator {
    width:100%;
    height:100%;
    overflow:auto;
}

@media print {
    .navigator {
        display: table;
        overflow:visible;
    }
    #banner {
        display: none;
    }

/**
    Based on http://html5boilerplate.com/
    http://designshack.net/articles/css/6-thinks-i-learned-about-print-stylesheets-from-html5-boilerplate/
*/
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        overflow: visible;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    img {
        max-width: 100% !important;
    }

    ul, img {
        page-break-inside: avoid;
    }

    a, a:visited { text-decoration: underline; font-weight: bold; }
    a[href]:after { content: " <" attr(href) ">"; }
    abbr[title]:after { content: " (" attr(title) ")"; }
    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */

    .fragment {
        display: block;
        height: auto;
        width: 100%;
        position: relative;
        margin: 0;
        overflow: visible;
    }

    .win-backbutton {
        display: none;
    }

    .fragment header[role=banner] {
        display: none;
    }
}
