.homepage section[role=main] {
    padding-left: 24px;
    padding-right: 10px;
    overflow:auto;
    background-color:white;
    -ms-user-select: text;
    -ms-content-zooming:zoom;
    -ms-content-zoom-limit: 20% 1000%;
}

.fragment header[role=banner] .titlearea {
    -ms-grid-column: 3;
    margin-top: 37px;
    margin-left: -96px;
}
