.homepage section[role=main] {
    padding: 24px 10px 0;
    overflow:auto;
    -ms-user-select: text;
    -ms-content-zooming:zoom;
    -ms-content-zoom-limit: 20% 1000%;
}

.fragment header[role=banner] .titlearea {
    -ms-grid-column: 3;
    margin-top: 37px;
    margin-left: -96px;
}
